* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#fullbox {
    max-width: 1604px;
    width: 100%;
    margin: 0 auto;
    padding: 96px;
    background-color: #E2F7FF;
}
#firstbig {
    text-align: center;
    max-width: 1216px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}